html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block
}

body {
    line-height: 1
}

ol,ul {
    list-style: none
}

blockquote,q {
    quotes: none
}

blockquote:before,blockquote:after,q:before,q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

* {
    box-sizing: border-box
}

html,body {
    font-style: normal;
    font-weight: 400;
    font-family: Open Sans;
    font-size: 18px;
    line-height: 1.5;
    color: #2d3033;
    background: #f7f7f7;
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden
}

input,select,button,textarea,a {
    -webkit-transition: .2s all;
    transition: .2s all;
    -webkit-appearance: none;
    border-radius: 0;
    -webkit-tap-highlight-color: transparent
}

body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    background: #2d3033
}

#container,#overlay {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    width: 100%;
    background: #2d3033
}

#title {
    overflow: hidden;
    max-height: 4rem;
    font-size: 1.7rem;
    line-height: 2.2rem;
    text-align: center;
    font-family: Open Sans Condensed;
    font-weight: 600;
    color: #2d3033;
    width: 100%;
    position: absolute;
    top: 25px
}

@media(max-width: 720px) {
    #title {
        font-size:1.5rem
    }
}

#stats {
    position: absolute;
    top: 100px;
    overflow: hidden;
    font-size: 1.2rem;
    font-family: Open Sans Condensed;
    font-weight: 400;
    width: 100%
}

#stats #daysOnChart {
    width: 100%;
    text-align: center
}

#rankChange {
    text-align: center
}

#rank,#change {
    font-size: 1.2rem;
    font-family: Open Sans Condensed;
    display: inline-block
}

#rank {
    font-weight: 600
}

#change {
    font-size: .9rem;
    font-weight: 600
}

button {
    cursor: pointer;
    outline: none;
    border: none;
    color: #2d3033;
    background: transparent;
    font-family: FontAwesome;
    font-size: 3.5rem;
    padding: 20px;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 25%;
    -ms-flex: 1 0 25%;
    flex: 1 0 25%;
    margin-bottom: 30px
}

@media(max-width: 720px) {
    button {
        font-size:3.25rem
    }
}

@media(max-width: 500px) {
    button {
        font-size:3rem
    }
}

#bottomPanel {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 285px;
    -ms-flex: 1 0 285px;
    flex: 1 0 285px;
    max-height: 285px;
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: stretch;
    -webkit-justify-content: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    background: white
}

#seek,#volume {
    outline: none;
    -webkit-appearance: none;
    background: rgba(45,48,51,.2);
    padding: 3px;
    width: 100%;
    margin: 0 auto;
    display: block;
    cursor: pointer
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #2d3033;
    width: 3px;
    height: 10px;
    cursor: ew-resize
}

#volume {
    padding: 1px;
    position: absolute;
    bottom: -250px;
    height: 2px
}

#volume::-webkit-slider-thumb {
    background-color: #2d3033;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-top: -1px
}

#volumeDown {
    position: absolute;
    top: 252px;
    left: -25px;
    font-family: FontAwesome
}

#volumeDown:before {
    content: "\f027";
    color: #2d3033;
    font-size: 1rem;
    font-weight: 300
}

#volumeUp {
    position: absolute;
    top: 252px;
    right: -25px;
    font-family: FontAwesome
}

#volumeUp:before {
    content: "\f028";
    color: #2d3033;
    font-size: 1rem;
    font-weight: 300
}

#playerTime {
    text-align: center;
    font-family: Open Sans;
    font-size: 1rem;
    font-weight: 600;
    color: #2d3033;
    position: absolute;
    top: 5px;
    left: 15%;
    width: 70%
}

#currentTime {
    position: absolute;
    top: -4px;
    left: -50px;
    font-family: Open Sans;
    font-weight: 600
}

#endTime {
    position: absolute;
    top: -4px;
    right: -50px;
    font-family: Open Sans;
    font-weight: 600
}

#overlay {
    background: #2d3033;
    color: #f7f7f7;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch
}

#overlay ol,#overlay ul {
    padding-left: 3rem;
    font-size: .8rem
}

#overlay ol {
    list-style-type: decimal
}

#overlay ul {
    list-style-type: square
}

#overlay h1 {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    width: 100%;
    text-align: center
}

@media(max-width: 720px) {
    #overlay h1 {
        font-size:1rem
    }
}

#overlay #topSongs {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 50%;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
    max-width: 50%;
    overflow-y: scroll
}

#overlay #playInfo {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 50%;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
    max-width: 50%;
    max-height: 20%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch
}

#overlay #recentlyPlayed,#overlay #thumbsDowned {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 50%;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
    overflow-y: hidden;
    margin-bottom: 1.5rem
}

.hidden {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 0;
    -ms-flex: 0 1 0;
    flex: 0 1 0;
    max-height: 0
}

::-webkit-scrollbar {
    width: 4px
}

::-webkit-scrollbar-track {
    background: rgba(247,247,247,.1)
}

::-webkit-scrollbar-thumb {
    background: black
}

.removeThumb {
    display: none
}
